doctype html
head
    meta(charset='UTF-8')
    meta(property='subsrc' content=subSrc)
    for font in fonts
        meta(property='fontsrc' content=font)
    meta(property='og:title' content=title)
    meta(property='og:url' content='Anibel.net')
    meta(property='og:image' content=imageSrc)
    meta(property='og:type' content='video.episode')
    meta(property='og:description' content=description)
    title #{title}
    link(rel='icon' href='favicon.ico' type='image/x-icon')
    script(defer='defer' src='player.js')
body
    video#video(controls=true style='height: 100%;' poster=imageSrc)
        source#videosurce(src=videoSrc)
    audio#audio
        source#audiosource(src=audioSrc)
