doctype html
head
    meta(charset='UTF-8')
    meta(name='videosrc' content=videoSrc)
    meta(name='audiosrc' content=audioSrc)
    meta(name='subsrc' content=subSrc)
    for font in fonts
        meta(name='fontsrc' content=font)
    meta(name='og:title' content=title)
    title #{title}
    script(defer='defer' src='player.js')
body
    video#video.video-js.vjs-default-skin.vjs-big-play-centered.vjs-fill(controls='')
        source#videosurce
    if devmode
        audio#audio.video-js(controls='')
            source#audiosource
    else
        audio#audio.video-js(style='display: none')
            source#audiosource
